In [1]:
import itertools
import random
import json
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path 
import sys
import threading
import os
from IPython.display import clear_output

In [6]:
## Computer science authors in France
collaboration_df = pd.read_csv('myDATA/00-collaboration_df.csv')
collaboration_df

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
12908,8958327900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6508297663,0,0,0,0,0,0,0,0,0,...,4,7,7,8,8,8,8,8,8,8
103257,34571759000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,5,5,5
25815,7004267341,0,0,0,0,0,0,0,0,0,...,10,10,10,16,16,16,16,16,16,16
64536,8642393600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12222,6507630481,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,29,29
193310,24577815500,0,0,0,0,0,0,0,0,0,...,4,4,4,4,6,13,16,16,16,70
36974,57195243976,0,0,0,0,0,0,0,0,0,...,0,3,3,3,3,3,3,3,8,8
12243,35328962100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,3
37024,7403521415,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,29,29,29

In [8]:
## retrieve the pubblication data(not collaborations)
file = '/home/leonardo/Desktop/PFE/Data/requested_data_on_authors.json'
d = json.load(open(Path(file)))

In [9]:
# Build a pandas dataframe from it
publications_df = pd.DataFrame.from_dict(d, orient='index')

In [10]:
# format it as callaboration_df
publications_df = publications_df.reset_index()
publications_df = publications_df.rename(columns={"index": "ID"})
publications_df['ID'] = publications_df['ID'].astype(int)

# keep only authors present in the collaborations dataframe
collab_IDs = collaboration_df["ID"]
publications_df = publications_df[publications_df.ID.isin(collab_IDs)]
publications_df

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
5,7003355588,2,2,2,1,4,0,5,5,0,...,7,4,4,15,11,7,11,9,8,6
29,56522848500,3,0,1,0,2,0,6,1,3,...,3,5,6,1,0,0,1,1,1,4
49,7004165433,5,1,1,2,10,5,6,2,6,...,4,3,11,7,6,10,6,3,3,4
79,6603870889,1,0,2,0,1,2,6,4,2,...,8,10,7,20,16,12,9,10,15,16
96,7005944861,10,10,3,7,8,8,4,15,9,...,9,8,12,10,20,19,17,12,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207020,57200496797,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2207039,15137130100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207045,57196721826,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207048,57196401698,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207049,57195980869,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
# write the pubblication dataset for computer science authors in France
publications_df.to_csv('myDATA/02-publication_df.csv', index=False)
publications_df = pd.read_csv('myDATA/02-publication_df.csv')
publications_df

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,7003355588,2,2,2,1,4,0,5,5,0,...,7,4,4,15,11,7,11,9,8,6
1,56522848500,3,0,1,0,2,0,6,1,3,...,3,5,6,1,0,0,1,1,1,4
2,7004165433,5,1,1,2,10,5,6,2,6,...,4,3,11,7,6,10,6,3,3,4
3,6603870889,1,0,2,0,1,2,6,4,2,...,8,10,7,20,16,12,9,10,15,16
4,7005944861,10,10,3,7,8,8,4,15,9,...,9,8,12,10,20,19,17,12,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232833,57200496797,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
232834,15137130100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
232835,57196721826,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
232836,57196401698,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
232837,57195980869,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
# remove from collaboration df those authors that doesn't have an entry in publication dataset
collaboration_df = collaboration_df[collaboration_df.ID.isin(publications_df["ID"])]
collaboration_df.to_csv('myDATA/00-collaboration_df.csv', index=False)
pd.read_csv('myDATA/00-collaboration_df.csv')

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,8958327900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6508297663,0,0,0,0,0,0,0,0,0,...,4,7,7,8,8,8,8,8,8,8
2,7004267341,0,0,0,0,0,0,0,0,0,...,10,10,10,16,16,16,16,16,16,16
3,8642393600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,7,7
4,55873955900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232833,6507630481,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,29,29
232834,24577815500,0,0,0,0,0,0,0,0,0,...,4,4,4,4,6,13,16,16,16,70
232835,57195243976,0,0,0,0,0,0,0,0,0,...,0,3,3,3,3,3,3,3,8,8
232836,35328962100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,3
232837,7403521415,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,29,29,29